@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    background-color: #262949;
}

.jogo {
    width: 100vh;
    height: 100vh;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 30px 20px rgb(0 0 0 / 66%);
    background: #232442;
    color: #E7E8EB;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

a img {
    /* estilização da seta de voltar */
    width: 50px;
}

/* mensagem de vitória*/
.mensagem-vencedor {
    display: none;
    /* para uma div ficar "em cima" do conteudo total da pagina: */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.5);
    flex-direction: column;
}

.mensagem-vencedor button {
    font-size: 1.5rem;
    background-color: #065B6F;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #E7E8EB;
}

.mensagem-vencedor button:hover {
    background-color: #E7E8EB;
    color: #065B6F;
}

.mensagem-vencedor p {
    color: #E7E8EB;
    font-size: 2rem;
}

.mostrar-mensagem-vencedor {
    display: flex;
}

/* estrutura de células do jogo da velha */
.cell {
    width: 100px;
    height: 100px;
    background: #232442;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.x,
.cell.circle {
    cursor: not-allowed; /* não permitir clicar */
}

/* tirar bordas indesejáveis */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

/* X */
.cell.x::before, /* uma "perninha" do X*/
.cell.x::after, /* a outra "perninha" do X */
.jogo.x .cell:hover::after,
.jogo.x .cell:hover::before {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: #fff;
    position: absolute;
}

.cell.x::before,
.jogo.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.jogo.x .cell:hover::after {
    transform: rotate(-45deg);
}

/* círculo */
.cell.circle::before,
.cell.circle::after {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

