@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* { /* reset css */
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    background-color: #262949;
}

.jogo {
    width: 800px;
    height: 500px;
    background: #232442;
    /*background-color: hsla(0, 4%, 84%, 0.412);*/
    border-radius: 20px;
    box-shadow: 10px 30px 20px rgb(0 0 0 / 66%);
}

.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding-left: 50px;
    padding-top: 20px;
}

.links {
    font-size: 16px;
    background-color: hsla(0, 4%, 84%, 0.1);
    border: 0;
    padding: 5px;
}

button {
    background-color: hsla(0, 4%, 84%);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.205);
    border-radius: 50px;
    width: 150px;
    height: 30px;
}

button a {
    color: rgba(255, 255, 255, 0.753);
    ;
}

button:hover {
    border-radius: 50px;
    background-color: #000;
    transition-duration: 1s;
}

.corpo {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foto img {
    width: 350px;
    height: 350px;
    /*background: url(/jogo.png);*/
    border-radius: 70px;
    box-shadow: 5px 5px 10px #000;
}

.texto {
    display: flex;
    flex-direction: column;
    color: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    margin-top: 100px;
    color: #E7E8EB;
}

.rodape-imagem {
    height: 23px;
    justify-content: center;
    padding-left: 5px;
}

/* #722D2D