@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    background-color: #262949;
}

.jogo {
    width: 100vh;
    height: 100vh;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 30px 20px rgb(0 0 0 / 66%);
    background: #232442;
    color: #E7E8EB;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    background: #232442;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.jogo img {
    width: 400px;
}

a img {
    width: 50px;
}

.mensagem-vencedor {
    display: none;
}